.mainFxmlClass {

}

.background {
    /*-fx-background-color: #1d1d1d;*/
-fx-background-color: #DBDBE4;
}

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #1d1d1d;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #DBDBE4;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #11d1d1d;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius: 5px;
}